- url: /second_test_handler
  methods: GET
  handler:
    type: predefined_query_handler
    query: SELECT 'bar'
- url: /third_test_handler
  methods: GET
  handler:
    type: predefined_query_handler
    query: SELECT 'baz'
