---
send_crash_reports:
    enabled: false
    anonymize: false
    endpoint: "https://6f33034cfe684dd7a3ab9875e57b1c8d@o388870.ingest.sentry.io/5226277"
    # Uncomment to disable ClickHouse internal DNS caching.
    # disable_internal_dns_cache: 1
