---
top_level_domains_path: "{{ clickhouse_top_level_domains_path }}"
# Custom TLD lists.
# Format: name: /path/to/file

# Changes will not be applied w/o server restart.
# Path to the list is under top_level_domains_path (see above).
top_level_domains_lists:
{% for file_path in clickhouse_top_level_domains_lists_files %}
  {{ file_path | basename | split(".") | first }}: {{ file_path | basename }}
{% endfor %}

