{{ {'profiles': clickhouse_profiles}|to_nice_yaml(sort_keys=False) }}
{{ {'users': clickhouse_users}|to_nice_yaml(sort_keys=False) }}
{{ {'quotas': clickhouse_quotas}|to_nice_yaml(sort_keys=False) }}
